# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
ENV/
.env


# macOS files
.DS_Store

# Log files
*.log

# PyCharm
.idea/
*.iml

# Jupyter Notebook
.ipynb_checkpoints/

# SQLite database
*.sqlite3

# Test coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json
